
.button {
	width: 95%;
  left: -30px;
  display: flex;
  flex-direction: column;
  margin: 0px auto 3px;
  
  align-items: flex-start;
  margin-left: 12%;

  border: none;
  transition: color 0.01s, text-shadow 0.01s;
  cursor: pointer;
}

.button:hover {
  /* Cor da fonte antes do efeito */
  color: rgb(22, 166, 173);
  /* filter: blur(0.5px); */
  /* Efeito engraved: sombra clara acima e escura abaixo para simular escultura interna */
    text-shadow:
      0 0 15px rgb(131, 235, 232),
      0 0 30px rgb(104, 239, 235),
      0 0 60px rgb(43, 241, 234),
      0 0 80px rgb(4, 238, 230);
  /* Efeito de brilho esverdeado no texto */
   /* text-shadow: 0 0 2px rgb(255, 153, 247), 0 0 4px rgb(255, 207, 153), 0 0 8px rgb(11, 143, 1); */
  /* Remover fundo e outros efeitos para focar no brilho do texto */
  background: transparent;
  box-shadow: none;
}

.button:active {
  color: #D4B46A; /* dourado */
  text-shadow:
    0 0 15px #ffd700,
    0 0 30px #ffd700,
    0 0 60px #fff8dc,
    0 0 80px #ffd700;
}

.engraved-text {
  /* padding-right: 10px; */
  background-color: rgb(231, 215, 184);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 200%;  
  font-weight: bold;
  font-family: 'Cinzel';
  /* text-shadow: 4px 0px 1px rgba(103, 90, 72, 0.687); */
}

.sidebar-logo-root {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 20px auto;

}

.sidebar-link {
  margin: 0;
}