
.button {
	width: 95%;
  left: -30px;
  display: flex;
  flex-direction: column;
  margin: 0px auto 10px;
    
  font-size: 38px;  
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: flex-start;
  padding-left: 6%;

  border: none;
  transition: color 0.3s, text-shadow 0.3s;
  cursor: pointer;
}

.button:hover {
  /* Cor da fonte antes do efeito */
  color: rgba(153, 252, 255, 0.799);
  /* filter: blur(0.5px); */
  /* Efeito engraved: sombra clara acima e escura abaixo para simular escultura interna */
    text-shadow:
      0 0 15px #d2f1f0,
      0 0 30px #00fff7,
      0 0 60px #01e6f6,
      0 0 80px #00fff7;
  /* Efeito de brilho esverdeado no texto */
   /* text-shadow: 0 0 2px rgb(255, 153, 247), 0 0 4px rgb(255, 207, 153), 0 0 8px rgb(11, 143, 1); */
  /* Remover fundo e outros efeitos para focar no brilho do texto */
  background: transparent;
  box-shadow: none;
}

.button:active {
  color: #ffd700; /* dourado */
  text-shadow:
    0 0 15px #ffd700,
    0 0 30px #ffd700,
    0 0 60px #fff8dc,
    0 0 80px #ffd700;
}

.engraved-text {
  padding-right: 30px;
  background-color: rgba(28, 14, 0, 0.7);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 4.5px 0px 1px rgba(88, 48, 8, 0.466);
}

.sidebar-logo-root {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 20px auto;

}

.sidebar-link {
  margin: 0;
}