.sidebar-style {
  background-image: url('../images/SideBarWood.png');
  background-size: 130% 110%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(247, 218, 177, 0.8); /* navigation.background */

  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 200;

  box-shadow:  
    inset -12px 0px 10px -1px rgba(54, 27, 4, 0.8),
    inset -20px 0px 20px -5px rgba(96, 56, 23, 0.6);
}

.sidebar-divider {
  width: 80%;
  position: relative;
  left: -10px;
  height: 3px;
  background: rgba(35, 17, 1, 1);
  margin: 7px auto 7px auto;
  border: none;

}

.bottom-section {
  margin-top: auto;
  margin-bottom: 10px;
}