.table-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0;


    padding-left: 2.5%;
    padding-right: 1.5%;
}


.column-head-table { 
    font-family: 'Cinzel';
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(0, 0, 0);  
}

.skill-head-name {
    width: 20%;
}

.skill-head-system {
    width: 15%;
}

.skill-head-description {
    width: 30%;
}

.skill-head-tag {
    width: 20%;
}
