.item {
    height: 200px;
    width: 25%;


    background-color: transparent;

    border: 1.5px solid #000; /* cor e espessura da borda */
    box-sizing: border-box;

}

.item:hover {
    border: 1.5px solid #000; /* cor e espessura da borda */
    cursor: pointer; /* muda o cursor para indicar que é clicável */

    box-shadow: 
        inset 0px 0px 20px 7px rgba(247, 247, 247, 0.89);
}

